@model ufanet_recognizer.Models.ViewResultAll
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <title>Распознаватель</title>

    <style type="text/css">
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 500px;
            height: auto;
            max-width: 100%;
            min-height: 600px;
            background-image: url('@Url.Content("~/image/images.png")');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <script type="text/javascript">
        let divider = 1;
        var fileReader = new FileReader();
        var filterType = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;

        fileReader.onload = function (event) {
            var image = new Image();

            image.onload = function () {
                document.getElementById("original-Img").src = image.src;
                var canvas = document.createElement("canvas");
                var context = canvas.getContext("2d");
                canvas.width = image.width / divider;
                canvas.height = image.height / divider;
                context.drawImage(image,
                    0,
                    0,
                    image.width,
                    image.height,
                    0,
                    0,
                    canvas.width,
                    canvas.height
                );

                document.getElementById("img_base64").value = canvas.toDataURL("image/jpeg").split(';base64,')[1];
                document.getElementById("text_result").textContent = '';
            }
            image.src = event.target.result;
        };

        var loadImageFile = function () {
            var uploadImage = document.getElementById("choose-file");

            //Временно убираем параметры сжатия изображения
            /*
            if (typeof (uploadImage.files) != "undefined") {
                if (typeof (uploadImage.files[0]) != "undefined") {
                    var size = parseFloat(uploadImage.files[0].size / 1024).toFixed(2);
                    if (size > 3072) {
                        divider = 2;
                    }
                    if (size > 10240) {
                        divider = 4;
                    }
                }
            }
            */

            //check and retuns the length of uploded file.
            if (uploadImage.files.length === 0) {
                return;
            }

            //Проверяем размер изображения
            if (typeof (uploadImage.files) != "undefined") {
                if (typeof (uploadImage.files[0]) != "undefined") {
                    var size = parseFloat(uploadImage.files[0].size / 1024).toFixed(2);
                    if (size > 10240) {
                        alert("Размер файла " + size + " Кб. Должно быть не более 10240 Кб.");
                        uploadImage.value = null;
                        return;
                    }
                }
            }

            //Is Used for validate a valid file.
            var uploadFile = document.getElementById("choose-file").files[0];
            if (!filterType.test(uploadFile.type)) {
                alert("Please select a valid image.");
                return;
            }

            fileReader.readAsDataURL(uploadFile);
        }
    </script>

</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4>Выберите файл изображения для распознавания (рекомендуется ~512 Кб)</h4>
                    <div class="form-group">
                        <input class="form-control-file" type="file" name="uploadedFile" accept="image/*" id="choose-file" onchange="loadImageFile();" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h2>Изображение</h2>
                    <form asp-action="Recognize" asp-controller="Home" method="post">
                        <div class="form-group">
                            @if (Model != null)
                            {
                                <img id="original-Img" src="data:image/jpeg;base64,@Model.imgBase64">
                                <input type="hidden" id="img_base64" name="img_base64" value="@Model.imgBase64" />
                            }
                            else
                            {
                                <img id="original-Img">
                                <input type="hidden" id="img_base64" name="img_base64" />
                            }
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Распознать</button>
                        </div>
                    </form>
                </div>
                <div id="text_result" class="col-sm">
                    <a name="form_result"></a>
                    @if (TempData["error_rec"] != null)
                    {
                    <h2>Результат</h2>
                    <div class="alert-danger"><span>@TempData["error_rec"].ToString()</span></div>
                    }
                    else
                    {
                        if (Model != null)
                        {
                    @if (Model.rec.Count > 0)
                            {
                    <h2>Результат</h2>
                    <table class="table table-bordered">
                        <thead class="table-primary">
                            <tr>
                                <th>№ п/п</th>
                                <th>Поле</th>
                                <th>Значение</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1; }

                            @foreach (var row in Model.rec)
                                        {
                            <tr>
                                <td>@i.</td>
                                <td>@row.Field</td>
                                <td>@row.RecValue</td>
                            </tr>
                                            i += 1;
                                        }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="text-end">Всего элементов:</td>
                                <td class="text-start">
                                    @Model.rec.Count().ToString()
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@if (TempData["GoLink"] != null)
{
    <script type="text/javascript">window.location.href = '@TempData["GoLink"].ToString()';</script>
}
