@model ufanet_rec.Models.ViewResultAll
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <title>Распознаватель</title>
    <style type="text/css">
        /* Styles for validation helpers*/
        .field-validation-error {
            color: #ff0000;
        }

        .field-validation-valid {
            display: none;
        }

        .input-validation-error {
            border: 1px solid #ff0000 !important;
            background-color: #ffeeee !important;
        }

        .validation-summary-errors {
            font-weight: bold !important;
            color: #ff0000 !important;
        }

        .validation-summary-valid {
            display: none;
        }

        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 500px;
            height: auto;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4>Выберите файл изображения для распознавания (рекомендуется ~512 Кб)</h4>
                    <form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <input class="form-control-file" type="file" name="uploadedFile" accept="image/*" id="choose-file" />
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" onclick="Upload()">Прикрепить</button>
                        </div>
                    </form>
                    <script type="text/javascript">
                        function Upload() {
                            var fileUpload = document.getElementById("choose-file");
                            if (typeof (fileUpload.files) != "undefined") {
                                if (typeof (fileUpload.files[0]) != "undefined") {
                                    var size = parseFloat(fileUpload.files[0].size / 1024).toFixed(2);
                                    if (size > 3072) {
                                        alert("Размер файла " + size + " Кб. Должно быть не более 3072 Кб.");
                                    }
                                    else {
                                        document.forms[0].submit();
                                    }
                                }
                                else {
                                    alert("Выберите файл изображения.");
                                }

                            } else {
                                alert("Этот браузер не поддерживает HTML5.");
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
        @if (Model != null)
        {
            <hr />
            <div class="container">
                <div class="row">
                    @if (Model.imageFilepath.Length > 0)
                    {
                        <div class="col-sm">
                            <h2>Изображение</h2>
                            <div class="form-group">
                                <img src="~/img-for-rec">
                            </div>
                            <form asp-action="Recognize" asp-controller="Home" method="post">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-secondary">Распознать</button>
                                </div>
                            </form>
                        </div>
                    }
                    @if (TempData["error_rec"] != null)
                    {
                        <div class="col-sm">
                            <h2>Результат</h2>
                            <div class="alert-danger"><span>@TempData["error_rec"].ToString()</span></div>
                        </div>
                    }
                    @if (Model.rec.Count > 0)
                    {
                        <div class="col-sm">
                            <h2>Результат</h2>
                            <table class="table table-bordered">
                                <thead class="table-primary">
                                    <tr>
                                        <th>№ п/п</th>
                                        <th>Поле</th>
                                        <th>Значение</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 1; }

                                    @foreach (var row in Model.rec)
                                    {
                                        <tr>
                                            <td>@i.</td>
                                            <td>@row.Field</td>
                                            <td>@row.RecValue</td>
                                        </tr>
                                        i += 1;
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2" class="text-end">Всего элементов:</td>
                                        <td class="text-start">
                                            @Model.rec.Count().ToString()
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    }
                </div>
            </div>
        }
        <a name="form_result"></a>
    </div>
</body>
</html>
@if (TempData["GoLink"] != null)
{
    <script type="text/javascript">window.location.href = '@TempData["GoLink"].ToString()';</script>
}
